* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: monospace;
}

#sidebar {
  transition: 300ms width;
  background-color: #cfcfcf;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);

}

.title-container {
  color: #444343;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;

}

.top-icon {
  font-size: 30px;
  margin-left: 5px;
}

.title-container h1 {
  font-size: 20px;
  font-weight: lighter;
}

.links-container {
  padding: 0px 15px;
}

.links {
  color: #5f5f5f;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links span {
  padding: 0px 12px;
  font-size: 15px;
}

.icon {
  font-size: 24px;
}

#main-content {
  margin-left: 200px;
  box-sizing: border-box;
  height: 900px;
  width: 1500px;
  padding: 20px 25px;
  transition: 400ms margin-left;

}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
}
.input-box {
  border-radius: 5px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
#search-icon {
  color: rgb(38, 39, 39);
  cursor: pointer;
  font-size: 20px;
}
.action-icon-one, .action-icon-two {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(141, 226, 250);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  margin-left: 8px;
}
.action-icons {
  
  display: flex;
}
#top-section {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#welcome-title {
  font-size: 24px;
  font-weight: lighter;
  margin: 30px 20px;
}
#grid-container {
  margin-left: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto 75%;
  max-height: 900px;
}
.grid-item {
  height: 400px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 50px;
}
@media (max-width: 1400px) {
  #grid-container {
    grid-template-columns: auto;
  }
  
}
@media (max-width: 950px) {
  /* .title-container {
    display: none;
  } */
  .links span {
    display: none;
  }
  #sidebar {
    width: 75px;
  }
  #main-content {
   
    margin-left: 75px;
  }
  .icon {
    margin-left: 10px;
  }
  
}
.reports-section {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-height: 150px;

}
@import url('https://cdn.syncfusion.com/ej2/material.css')